body{
    text-transform: initial;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: lightgray;
}
.whole{
    display: flex;
    flex-direction: row;
}
.inline{
    flex: 200px;
    margin: 10px;
    border-bottom: none;
    display:flex;
    flex-direction: row;
}
div{
    
    margin-left: 5px;
    margin-right:5px ;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid black;
}
div[class=form]{
    position: relative;
    margin-left: 1px;
    margin-bottom:7px;
    display: block;
    border-bottom: none;
}
input[value]{
    position: relative;
    display: block;
    width: 150px;
    height: 30px;
}
a:hover{
    color: gray;
}

